VITE_API_BASE_URL=http://localhost:5000/api
VITE_SUPABASE_URL=https://crikhawtuwnimowovpoh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNyaWtoYXd0dXduaW1vd292cG9oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NTAzNTQsImV4cCI6MjA5MTEyNjM1NH0.N9ZFKGS-kmiu2eaa2iHhRGY_6NeXDoKDK_N9dbjDgVc
